In [31]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

---

# Pull in both datasets

---

In [32]:
durham_stata = pd.read_stata('fips_37183.dta')
wake_stata = pd.read_stata('fips_37063.dta')
assessor = pd.read_csv('Assessor0/cleaned_assessor.csv')
durham_assessor = assessor[assessor['county'] == 'DURHAM'].drop(['Unnamed: 0'], axis = 1)
wake_assessor = assessor[assessor['county'] == 'WAKE'].drop(['Unnamed: 0'], axis = 1)

durham_stata

/var/folders/k1/b11hy6gj2wdgdc768yvgls140000gn/T/ipykernel_17432/439350141.py:3: DtypeWarning: Columns (56,62,85,100) have mixed types. Specify dtype option on import or set low_memory=False.
  assessor = pd.read_csv('Assessor0/cleaned_assessor.csv')

,fips_code,apn_number_unformatted,apn_sequence_number,apn_number_formatted,original_apn,previous_parcel_number,pcl_id_iris_formatted,account_number,map_reference_1,map_reference_2,census_tract,block_number,lot_number,range,township,section,quarter_section,flood_zone_community_panel_id,land_use_code,county_land_use_1,county_land_use_2,mobile_home_indicator_flag,zone_code,property_indicator_code,subdivision_tract_number,subdivision_plat_book,subdivision_plat_page,subdivision_name,blocklevellatitude,blocklevellongitude,property_house_number_prefix,property_house_number,property_house_number_suffix,property_direction,property_street_name,property_mode,property_quadrant,property_apartment_unit_number,property_city,property_state,property_zipcode,property_carrier_route,absentee_owner_indicator_code,homestead_exempt,total_value_calculated,land_value_calculated,improvement_value_calculated,total_value_calculated_indicator,land_value_calculated_indicator_,improvement_value_calculated_ind,assessed_total_value,assessed_land_value,assessed_improvement_value,market_total_value,market_land_value,market_improvement_value,appraised_total_value,appraised_land_value,appraised_improvement_value,tax_amount,tax_year,assessed_year,tax_code_area,batch_id,batch_seq,multi_apn_flag,document_number,book_page,sales_document_type_code,sale_amount,sale_price_code,seller_name,sales_transaction_type_code,residential_model_indicator_flag,st_mortgage_amount,st_mortgage_date,st_mortgage_loan_type_code,st_mortgage_deed_type_code,st_mortgage_term_code,st_mortgage_term,st_mortgage_due_date,st_mortage_assumption_amount,lender_company_code,lender_name,nd_mortgage_amount,nd_mortgage_loan_type_code,nd_deed_type_code,front_footage,depth_footage,acres,land_square_footage,universal_building_square_feet,building_square_feet_indicator_c,building_square_feet,living_square_feet,ground_floor_square_feet,gross_square_feet,adjusted_gross_square_feet,basement_square_feet,garage_parking_square_feet,year_built,effective_year_built,number_of_bedrooms,total_rooms,total_baths_calculated,total_baths,full_baths,half_baths,qtr_baths,bath_fixtures,air_conditioning_code,basement_finish_code,basement_description,building_code,building_improvement_code,condition_code,construction_type_code,exterior_walls_code,fireplace_indicator_flag,fireplace_number,fireplace_type_code,foundation_code,floor_type_code,frame_code,garage_type_code,heating_type_code,parking_spaces,parking_type_code,pool_indicator_flag,pool_code,quality_code,roof_cover_code,roof_type_code,stories_code,number_of_stories,style_code,view_code,location_influence_code,calculated_number_of_units,number_of_units,electric_energy_code,fuel_code,sewer_code,utilities,water_type_code,address,sale_date,sale_month,sale_quarter,sale_year
0,37183,6.390257e+13,1,6.390257e+13,6.390257e+13,NaN,6.390257e+13,371893,,0639-02,532072.0,,723,NaN,NaN,NaN,NaN,132245221,163,1.0,NaN,,PUD,10,,.,.,TWELVE OAKS PH2A,NaN,,0,409,,,RAMBLING OAKS,LN,,,HOLLY SPRINGS,NC,27540.0,R088,O,NaN,125200,118800,6400,M,M,M,125200,118800,6400,125200,118800,6400,0,0,0,131397,2015,2015,HOL,20160523,1119,,NaN,1.639200e+10,G,710500,,ROBUCK HOMES TRIANGLE LLC,3,Y,1,1,1,1,1,1,1,1,110572.0,PROSPERITY HM MTG LLC,2,2,2,0,0,0.28,12197,0,,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,,NaN,,RS0,NaN,,NaN,,,0,,,,,,,0,,,,NaN,NaN,,,0,,NaN,NaN,0,0,1.0,,1.0,,1.0,409 RAMBLING OAKS LN,2016-04-12,2016-04-01,2016-04-01,2016.0
1,37183,6.390257e+13,1,6.390257e+13,6.390257e+13,NaN,6.390257e+13,407165,,,532072001.0,,215,NaN,NaN,NaN,NaN,132342603,163,1.0,NaN,,PUD,10,,.,.,TWELVE OAKS PH 1F SEC 3A,35667324.0,7888096K,0,321,,,SILVER BLUFF,ST,,,HOLLY SPRINGS,NC,27540.0,R081,O,NaN,366184,88000,278184,M,M,M,366184,88000,278184,366184,88000,278184,0,0,0,386310,2015,2015,HOL,20120605,659,,NaN,1.478600e+10,G,357000,,LENNAR CAROLINAS LLC,3,Y,1,1,1,1,1,1,1,1,52596.0,UNIVERSAL AMERICAN MTG CO LLC,2,2,2,0,0,0.34,14810,2970,L,2970,2970,0,0,0,0,460,2012,2012,0,0,3,3,3,0,0,0,ASE,NaN,,RS0,NaN,,NaN,FRA,Y,1,0U0,,,,950,FA0,0,950,,,NaN,NaN,,010,100,CON,NaN,NaN,0,0,1.0,,1.0,,1.0,321 SILVER BLUFF ST,2012-05-25,2012-05-01,2012-04-01,2012.0
2,37183,6.390257e+13,1,6.390257e+13,6.390257e+13,NaN,6.390257e+13,407166,,,532072001.0,,216,NaN,NaN,NaN,NaN,68505273,163,1.0,NaN,,PUD,10,,.,.,TWELVE OAKS PH 1F SEC 3A,35667324.0,7888096K,0,325,,,SILVER BLUFF,ST,,,HOLLY SPRINGS,NC,27540.0,R081,O,NaN,354593,88000,266593,M,M,M,354593,88000,266593,354593,88000,266593,0,0,0,374145,2015,2015,HOL,20120420,744,,NaN,1.468100e+10,G,328000,,LENNAR CAROLINAS LLC,3,Y,1,1,1,1,1,1,1,1,52596.0,UNIVERSAL AMERICAN MTG CO LLC,2,2,2,0,0,0.38,16553,2593,L,2593,2593,0,0,0,0,420,2012,2012,0,0,3,3,3,0,0,0,ASE,NaN,CRA,RS0,NaN,,NaN,FRA,Y,1,0U0,,,,950,FA0,0,950,,,NaN,NaN,,010,100,CON,NaN,NaN,0,0,1.0,,1.0,,1.0,325 SILVER BLUFF ST,2012-03-05,2012-03-01,2012-01-01,2012.0
3,37183,6.390257e+13,1,6.390257e+13,6.390257e+13,NaN,6.390257e+13,379404,,0639-02,532072001.0,,214,NaN,NaN,NaN,NaN,132342249,163,1.0,NaN,,PUD,10,,.,.,TWELVE OAKS PH 01F SEC 01,35667324.0,7888096K,0,317,,,SILVER BLUFF,ST,,,HOLLY SPRINGS,NC,27540.0,R081,O,NaN,342068,88000,254068,M,M,M,342068,88000,254068,342068,88000,254068,0,0,0,361001,2015,2015,HOL,20120518,2257,,NaN,1.473800e+10,G,315500,,LENNAR CAROLINAS LLC,3,Y,1,1,1,1,1,1,1,1,NaN,,2,2,2,0,0,0.28,12197,2594,L,2594,2594,0,0,0,0,420,2012,2012,0,0,3,3,3,0,0,0,ASE,NaN,CRA,RS0,NaN,,NaN,FRA,Y,1,0U0,,,,950,FA0,0,950,,,NaN,NaN,,010,100,CON,NaN,NaN,0,0,1.0,,1.0,,1.0,317 SILVER BLUFF ST,2012-04-17,2012-04-01,2012-04-01,2012.0
4,37183,6.390257e+13,1,6.390257e+13,6.390257e+13,NaN,6.390257e+13,379403,,0639-02,532072001.0,,213,NaN,NaN,NaN,NaN,132342366,163,1.0,NaN,,PUD,10,,.,.,TWELVE OAKS PH 01FSECTION 01,35667324.0,7888096K,0,313,,,SILVER BLUFF,ST,,,HOLLY SPRINGS,NC,27540.0,R081,O,NaN,317834,88000,229834,M,M,M,317834,88000,229834,317834,88000,229834,0,0,0,335567,2015,2015,HOL,20120814,255,,NaN,1.488000e+10,G,296000,,LENNAR CAROLINAS LLC,3,Y,1,1,1,1,1,1,1,1,NaN,,2,2,2,0,0,0.22,9583,2169,L,2169,2169,0,0,0,0,460,2012,2012,0,0,2,2,2,0,0,0,ASE,NaN,CRA,RS0,NaN,,NaN,FRA,Y,1,0U0,,,,950,FA0,0,950,,,NaN,NaN,,010,100,CON,NaN,NaN,0,0,1.0,,1.0,,1.0,313 SILVER BLUFF ST,2012-08-07,2012-08-01,2012-07-01,2012.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274029,37183,2.707013e+14,1,2.707013e+14,2.707013e+14,NaN,2.707013e+14,362380,,2707-01,543013001.0,,15,NaN,NaN,NaN,NaN,132218875,400,NaN,NaN,,R-30,80,,.,.,MEADOWS/DUKES LAKE,NaN,,0,3412,,,YELLOW BUCKEYE,LN,,,ZEBULON,NC,27597.0,R087,O,NaN,68000,68000,0,M,M,M,68000,68000,0,68000,68000,0,0,0,0,47226,2015,2015,,20151221,881,,NaN,1.624000e+10,G,293000,,WYNN CONSTRUCTION INC,3,Y,1,1,1,1,1,1,1,1,110793.0,QUICKEN LNS INC,2,2,2,0,0,1.00,43560,0,,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,,NaN,,,NaN,,NaN,,,0,,,,,,,0,,,,NaN,NaN,,,0,,NaN,NaN,0,0,1.0,,NaN,,NaN,3412 YELLOW BUCKEYE LN,2015-11-25,2015-11-01,2015-10-01,2015.0
274030,37183,2.707013e+14,1,2.707013e+14,2.707013e+14,NaN,2.707013e+14,362382,,2707-01,543013001.0,,17,NaN,NaN,NaN,NaN,132234786,400,NaN,NaN,,R-30,80,,.,.,MEADOWS/DUKES LAKE,35839547.0,7831086N,0,3404,,,YELLOW BUCKEYE,LN,,,ZEBULON,NC,27597.0,R087,A,NaN,68000,68000,0,M,M,M,68000,68000,0,68000,68000,0,0,0,0,47226,2015,2015,,20131216,101,D,NaN,1.552900e+10,G,300000,,DUKES LAKE PROPERTIES LLC,1,N,1,1,1,1,1,1,1,1,83963.0,VANTAGESOUTH BK,2,2,2,0,0,1.00,43560,0,,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,,NaN,,,NaN,,NaN,,,0,,,,,,,0,,,,NaN,NaN,,,0,,NaN,NaN,0,0,1.0,,NaN,,NaN,3404 YELLOW BUCKEYE LN,2013-12-11,2013-12-01,2013-10-01,2013.0
274031,37183,2.707013e+14,1,2.707013e+14,2.707013e+14,NaN,2.707013e+14,362381,,2707-01,543013001.0,,16,NaN,NaN,NaN,NaN,132249790,400,NaN,NaN,,R-30,80,,.,.,MEADOWS/DUKES LAKE,NaN,,0,3408,,,YELLOW BUCKEYE,LN,,,ZEBULON,NC,27597.0,R087,O,NaN,68000,68000,0,M,M,M,68000,68000,0,68000,68000,0,0,0,0,47226,2015,2015,,20160413,360,,NaN,1.634600e+10,G,305000,,WYNN CONSTRUCTION INC,3,Y,1,1,1,1,1,1,1,1,NaN,,2,2,2,0,0,1.00,43560,0,,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,,NaN,,,NaN,,NaN,,,0,,,,,,,0,,,,NaN,NaN,,,0,,NaN,NaN,0,0,1.0,,NaN,,NaN,3408 YELLOW BUCKEYE LN,2016-03-31,2016-03-01,2016-01-01,2016.0
274032,37183,2.707013e+14,1,2.707013e+14,2.707013e+14,NaN,2.707013e+14,362379,,2707-01,543013001.0,,14,NaN,NaN,NaN,NaN,132235969,163,1.0,NaN,,R-30,10,,.,.,MEADOWS/DUKES LAKE,NaN,,0,3416,,,YELLOW BUCKEYE,LN,,,ZEBULON,NC,27597.0,R087,O,NaN,68000,68000,233652,M,M,M,68000,68000,233652,68000,68000,233652,0,0,0,47226,2015,2015,,20151008,651,,NaN,1.616800e+10,G,300000,,WYNN CONSTRUCTION INC,3,Y,1,1,1,1,1,1,1,1,2799.0,MONARCH BK,2,2,2,0,0,1.00,43560,3474,L,3474,3474,0,0,0,0,460,0,0,0,0,3,3,2,1,0,0,ASE,NaN,CRA,RS0,NaN,,NaN,FRA,Y,1,0U0,,,,950,FA0,0,950,,,NaN,NaN,,020,200,CON,NaN,NaN,0,0,1.0,,NaN,,NaN,3416 YELLOW BUCKEYE LN,2015-09-15,2015-09-01,2015-07-01,2015.0
274033,37183,2.714013e+14,1,2.714013e+14,2.714013e+14,NaN,2.714013e+14,214891,34-E2,2714-01,543025052.0,,4,NaN,NaN,NaN,NaN,12950059,163,1.0,NaN,,R-30,10,,.,.,BELLE AIRE ACRES,35804024.0,7828021M,0,900,,,PERRY CURTIS,RD,,,ZEBULON,NC,27597.0,R091,O,NaN,139588,26000,113588,M,M,M,139588,26000,113588,139588,26000,113588,0,0,0,98944,2015,2015,,19380105,50983,,NaN,7.698000e+09,G,112500,,BELLE AIRE ACRES INC,1,Y,1,1,1,1,1,1,1,1,17283.0,CHASE MANHATTAN MTG,2,2,2,0,0,0.69,30056,1680,L,1680,1680,0,0,0,0,0,1995,1995,0,4,3,3,2,1,0,0,ASE,NaN,CRA,RS0,NaN,GOO,NaN,ALS,,0,,,,,,FA0,0,,,,NaN,NaN,G00,015,150,CON,NaN,NaN,0,0,1.0,FEL,NaN,U,NaN,900 PERRY CURTIS RD,1997-10-10,1997-10-01,1997-10-01,1997.0

In [55]:
property_list = []
for c in durham_assessor.columns:
    if 'property' in c:
        property_list.append(c)

In [72]:
attempted_join = durham_stata.merge(durham_assessor, on=["property_house_number", "property_street_name", "property_city"], suffixes=['_stata','_assessor'])

In [74]:
prop_list = ([c for c in property_list if c not in ["property_house_number", "property_mode", "property_street_name" , "property_city"]])
attempted_join.loc[:, ["property_house_number", "property_street_name" , "property_city"] + [c + "_stata" for c in prop_list] + [c + "_assessor" for c in prop_list]]

,property_house_number,property_street_name,property_city,property_direction_stata,property_quadrant_stata,property_apartment_unit_number_stata,property_direction_assessor,property_quadrant_assessor,property_apartment_unit_number_assessor
0,403,SHAKESPEARE,MORRISVILLE,,,,NaN,NaN,NaN
1,2508,HISTORIC,MORRISVILLE,,,,NaN,NaN,NaN
2,2400,HISTORIC,MORRISVILLE,,,,NaN,NaN,NaN
3,5141,SWISSWOOD,RALEIGH,,,,NaN,NaN,NaN